/* Filter Panel / 100 All */
.filter-panel-wrapper {
    background: var(--header-bg-c);
    border-bottom: 2px solid var(--header-border-c);
}
.filter-panel-wrapper ul { 
    display: flex;
}
.filter-panel-wrapper li {
    height: 5rem;
    width: 8rem;

    font-size: 1.1rem;
    text-align: center;

    margin: 2rem 0;
    cursor: pointer;

    position: relative;
}
.all {
    border-right: 1px solid #E1E5E7;
    padding: 0 2rem;
    margin: 2rem 0;
}
.all h3 {
    margin-right: 0.5rem;
}
.filter-icon {
    width: 4.5rem;
    height: 4.5rem;

    border-radius: 50%;
    margin: 0 auto 0.5rem auto;
}
.filter-icon.ok{
    border: 1px solid #19571D;
}
.filter-icon.storage {
    border: 1px solid #7F1916;
}
.filter-icon.out {
    border: 1px solid #BE8F50;
}
.filter-icon img {
    height: 2.5rem;
    width: 2.5rem;
}
.filter-panel--counter {
    position: absolute;
    top: 0;
    right: 0;
}
/* Checked Filter */
.filter-check {
    position: relative;
}
.filter-check::before {
    content: '';
    width: 60%;
    margin: 0 auto;
    border-bottom: 2px solid #2F5B79;

    position: absolute;
    bottom: -2.1rem;
    left: 0;
    right: 0;
}